body {
  background-color: rgb(216, 215, 215);
}
header {
  background-color: black;
  width: 100%;
  height: 35px;
  padding-left: 0;
  padding-right: 10px;
  color: rgb(231, 231, 231);
  text-align: right;
}
#left-container {
  float: left;
  padding-top: 40px;
  width: 15%;
}

#right-container {
  padding: 0px;
  float: right;
  overflow: auto;
  padding-top: 50px;
  width: 80.2%;
  background-color: rgb(216, 215, 215);
}
ul {
  list-style: none;
}
span {
  font-style: italic;
  font-weight: bold;
}
#resultLink {
  color: blue;
}
#resultLink:hover {
  color: red;
}
#resultLink:active {
  color: yellow;
}
h3 {
  display: inline;
}
textarea {
  width: 800px;
  height: 250px;
}
#textSubmit,
#fileSubmit {
  background-color: rgb(88, 188, 235);
  color: white;
  width: 500px;
  height: 40px;
  font-size: 15px;
  border: none;
}
.footer {
  position: fixed;
  width: 100%;
}
#logout-form {
  margin-top: 110px;
  margin-left: 0;
  padding-left: 0;
  background-color: rgb(134, 134, 134);
  height: 100px;
}
.logout {
  font-weight: bold;
  color: whitesmoke;
  background-color: rgb(253, 63, 63);
  text-align: center;
  font-size: 15px;

  width: 100px;
  height: 28px;
}
#result {
  margin-top: 100px;
  background-color: whitesmoke;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
